[Unit]
Description=Razor Server
After=network.target

[Service]
EnvironmentFile=/opt/puppetlabs/server/apps/razor-server/share/razor-server/razor-server.env
EnvironmentFile=/etc/sysconfig/razor-server
User=razor
ExecStart=/opt/puppetlabs/server/apps/razor-server/share/torquebox/jboss/bin/standalone.sh -Djboss.server.log.dir=${JBOSS_LOG_DIR} -Dhttp.port=${RAZOR_HTTP_PORT} -Dhttps.port=${RAZOR_HTTPS_PORT} -b 0.0.0.0
Type=simple
PIDFile=/var/run/puppetlabs/razor-server/torquebox.pid

[Install]
WantedBy=multi-user.target
